<mat-drawer-container class="app-sidenav-container" autosize>
  <mat-drawer #drawer class="app-sidenav mat-elevation-z10" [opened]="!isSmallScreen"
    [mode]=" isSmallScreen? 'over' : 'side' ">
    <mat-toolbar color="primary">
      <span>Contacs</span>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item *ngFor="let user of users">
        <a matLine href="#">
          <mat-icon>
            <img width="30px" src='/assets/images/{{user.username}}.png' />
          </mat-icon>
          <span style="margin-left: 15px;">{{ user.name }}</span>

        </a>
      </mat-list-item>
    </mat-nav-list>

  </mat-drawer>
  <div class="app-sidenav-content">
    <app-toolbar (toggleButtonSideNav)="drawer.toggle()"></app-toolbar>
    <div class="wrapper">

      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>
